<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/less/style.css' />
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

  </head>
  <body>


    <% include common/header.ejs%>

    <div class="apps-content">
      <div class="app" id="app1">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>智慧农业解决方案|系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture1">
          <div class="overlay">查看详情</div>
        </div>
        <p><a href="#">简介：智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，智慧农业，</a></p>
      </div>
      <div class="app" id="app2">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>智慧城市解决方案</h2>
        <div class="h-split-line"></div>
        <div class="img picture2">
          <div class="overlay">查看详情</div>
        </div>
        <p><a href="#">简介：智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，</a></p>
      </div>
      <div class="app" id="app3">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>智慧园区解决方案|系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture3">
          <div class="overlay">查看详情</div>
        </div>
        <p><a href="#">简介：智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧园区解决方案|系统</a></p>
      </div>
      <div class="app" id="app4">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>跨境电商解决方案|系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture4">
          <div class="overlay">查看详情</div>
        </div>
        <p><a href="#">简介：智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城跨境电商解决方案|系统</a></p>
      </div>
      <div class="app" id="app5">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>化学品物流系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture5">
          <div class="overlay">查看详情</div>
        </div>
        <p><a href="#">简介：智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧,化学品物流系统,化学品物流系统化学品物流系统化学品物流系统化学品物流系统化学品物流系统化学品物流系统</a></p>
      </div>
      <div class="app" id="app6">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>城市安防解决方案|系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture6">
          <div class="overlay">查看详情</div>
        </div>
        <p><a href="#">简介：智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧城市，智慧,化学品物流系统,化学品物流系统化学品物流系统化学品物流系统化学,城市安防解决方案|系统</a></p>
      </div>
      
      <div class="right-sidebar">
        <ul>
          <li><a href="#app1">智慧农业</a></li>
          <li><a href="#app2">智慧城市</a></li>
          <li><a href="#app3">智慧园区</a></li>
          <li><a href="#app4">跨境电商</a></li>
          <li><a href="#app5">化学品物流</a></li>
          <li><a href="#app6">城市安防</a></li>
        </ul>
      </div>
    </div>





  </body>

</html>
