<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/less/style.css' />
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

  </head>
  <body>


    <% include common/header.ejs%>

    <div class="apps-content">
      <div class="app" id="app1">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>智慧城市解决方案</h2>
        <div class="h-split-line"></div>
        <div class="img picture2">
          <div class="overlay"><a href="#">查看详情</a></div>
        </div>
        <p><a href="#">简介：智慧城市就是运用信息和通信技术手段感测、分析、整合城市运行核心系统的各项关键信息，从而对包括民生、环保、公共安全、城市服务、工商业活动在内的各种需求做出智能响应。其实质是利用先进的信息技术，实现城市智慧式管理和运行，进而为城市中的人创造更美好的生活，促进城市的和谐、可持续成长。</a></p>
      </div>
      <div class="app" id="app2">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>基于物联网开放平台的危化品防控体系</h2>
        <div class="h-split-line"></div>
        <div class="img picture5">
          <div class="overlay"><a href="http://www.xjv56.com">查看详情</a></div>
        </div>
        <p><a href="http://www.xjv56.com">简介：从事危险化学品道路运输、水路运输的，应当分别依照有关道路运输、水路运输的法律、行政法规的规定，取得危险货物道路运输许可、危险货物水路运输许可，并向工商行政管理部门办理登记手续。危险化学品道路运输企业、水路运输企业应当配备专职安全管理人员。</a></p>
      </div>
      <div class="app" id="app3">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>智慧农业解决方案|系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture1">
          <div class="overlay"><a href="#">查看详情</a></div>
        </div>
        <p><a href="#">简介：智慧农业 是农业中的智慧经济，或智慧经济形态在农业中的具体表现。智慧农业是智慧经济重要的组成部分；对于发展中国家而言，智慧农业是智慧经济主要的组成部分，是发展中国家消除贫困、实现后发优势、经济发展后来居上、实现赶超战略的主要途径。</a></p>
      </div>
      <div class="app" id="app4">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>城市安防解决方案|系统</h2>
        <div class="h-split-line"></div>
        <div class="img picture6">
          <div class="overlay"><a href="#">查看详情</a></div>
        </div>
        <p><a href="#">简介：平安城市是一个特大型、综合性非常强的管理系统，不仅需要满足治安管理、城市管理、交通管理、应急指挥等需求，而且还要兼顾灾难事故预警、安全生产监控等方面对图像监控的需求，同时还要考虑报警、门禁等配套系统的集成以及与广播系统的联动。</a></p>
      </div>
      <div class="app" id="app5">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>智慧园区解决方案</h2>
        <div class="h-split-line"></div>
        <div class="img picture3">
          <div class="overlay"><a href="#">查看详情</a></div>
        </div>
        <p><a href="#">简介：园区指一般由政府（民营企业与政府合作）规划建设的，供水、供电、供气、通讯、道路、仓储及其它配套设施齐全、布局合理且能够满足从事某种特定行业生产和科学实验需要的标准性建筑物或建筑物群体，“包括工业园区、产业园区、物流园区、都市工业园区、科技园区、创意园区等。”</a></p>
      </div>
      <div class="app" id="app6">
        <img class="xiayuanquan" src="/images/xiaoyuanquan.png" alt="">
        <h2>应急救援室内定位设备</h2>
        <div class="h-split-line"></div>
        <div class="img picture4">
          <div class="overlay"><a href="/videos" target="_blank">查看详情</a></div>
        </div>
        <p><a href="/videos" target="_blank">简介：室内定位是指在室内环境中实现位置定位，主要采用无线通讯、基站定位、惯导定位等多种技术集成形成一套室内位置定位体系，从而实现人员、物体等在室内空间中的位置监控。</a></p>
      </div>
      
      <div class="right-sidebar">
        <ul>
          <li><a href="#app1">智慧城市</a></li>
          <li><a href="#app2">危化品防控</a></li>
          <li><a href="#app3">智慧农业</a></li>
          <li><a href="#app4">城市安防</a></li>
          <li><a href="#app5">智慧园区</a></li>
          <li><a href="#app6">应急救援</a></li>
        </ul>
      </div>
    </div>





  </body>

</html>
