<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/less/style.css' />
        <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>

    </head>
    <body>


        <% include common/header.ejs%>

        <div class="develop-content">
            <div class="sidebar">
                <ul id="accordion" class="accordion">
                    <li>
                        <div class="link Chinese"><img src="/images/xiaoyuanquan.png" alt="">开发者社区</div>
                        <div class="link English"><img src="/images/xiaoyuanquan.png" alt="">Community</div>
                    </li>
                    <li>
                        <div class="link Chinese"><img src="/images/xiaoyuanquan.png" alt="">开发环境</div>
                        <div class="link English"><img src="/images/xiaoyuanquan.png" alt="">Development Tools</div>
                    </li>
                    <li>
                        <div class="link Chinese"><img src="/images/xiaoyuanquan.png" alt="">软件下载</div>
                        <div class="link English"><img src="/images/xiaoyuanquan.png" alt="">Software Download</div>
                    </li>

                </ul>
            </div>
            <div class="split-line"></div>
            <div class="waiting Chinese">敬请期待......<br/>有意者请联系：010-89055665</div>
            <div class="waiting English">Coming soon......<br/>For more information, please contact: 010-89055665</div>
        </div>
    </body>
</html>