<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/less/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/echarts.js"></script>
    <script type="text/javascript" src="/javascripts/china.js"></script>
    <script type="text/javascript" src="/javascripts/indexMap.js"></script>

  </head>
  <body>


    <% include common/header.ejs%>

    <div class="content">
      <img class="top-left-corner" src="/images/top-left-corner.png" alt="">
      <img class="top-right-corner" src="/images/top-left-corner.png" alt="">
      <img class="bottom-left-corner" src="/images/top-left-corner.png" alt="">
      <img class="bottom-right-corner" src="/images/top-left-corner.png" alt="">
      <div class="slogan">打造物联网国家战略基础设施</div>
      <div class="sub-slogan">成为信息经济快速发展新引擎</div>
      <div id="chart"></div>
      <div class="map"></div>
    </div>

    <div class="ad">
      <div class="ad1">
        <img class="top-left-corner" src="/images/top-left-corner.png" alt="">
        <img class="top-right-corner" src="/images/top-left-corner.png" alt="">
        <img class="bottom-left-corner" src="/images/top-left-corner.png" alt="">
        <img class="bottom-right-corner" src="/images/top-left-corner.png" alt="">
        <div class="img"></div>
        <dl>
          <dt>兼容</dt>
          <dd>兼容、拓展、提升互联网基础能力，推动“互联网时代”迈入“物联网时代”</dd>
        </dl>

      </div>

      <div class="ad2">
        <img class="top-left-corner" src="/images/top-left-corner.png" alt="">
        <img class="top-right-corner" src="/images/top-left-corner.png" alt="">
        <img class="bottom-left-corner" src="/images/top-left-corner.png" alt="">
        <img class="bottom-right-corner" src="/images/top-left-corner.png" alt="">
        <div class="img"></div>
        <dl>
          <dt>开放</dt>
          <dd>立足互联网、Web开放的基础，提升网络对物体连接、管理的整体支撑能力。</dd>
        </dl>

      </div>

      <div class="ad3">
        <img class="top-left-corner" src="/images/top-left-corner.png" alt="">
        <img class="top-right-corner" src="/images/top-left-corner.png" alt="">
        <img class="bottom-left-corner" src="/images/top-left-corner.png" alt="">
        <img class="bottom-right-corner" src="/images/top-left-corner.png" alt="">
        <div class="img"></div>
        <dl>
          <dt>弹性</dt>
          <dd>先解决现有需求，对未来发展留有空间，支持可持续发展。</dd>
        </dl>
      </div>
      <div class="clear"></div>


    </div>





  </body>
</html>
