<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/less/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <style>
        video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
        }
        source{
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
        }
    </style>
</head>

<body>
    <div>
        <video id="myVideo" controls="controls" autoplay="autoplay">
            <source src="/video/yangqizhan.mp4" type="video/mp4"/>;
        </video>
    </div>
    <script type="text/javascript">
        var myVideo = document.getElementById("myVideo");
        myVideo.onended = function(){
            var con = confirm("重复观看?");
            if ( con==true ) {
                myVideo.play();
            } else {
                window.opener=null;
                window.open('','_self');
                window.close();
            }
        };

    </script>

</body>
</html>
