<div class="top">


    <div class="top_left">
        <div class="top_left_a">
            <a href="/" target="_blank" title="中电科物联网开放平台">
                <img src="/images/top/logo1.png"/>
            </a>
        </div>
        <div class="top_left_b">
            物联网开放服务平台<br/>
            <em>IOT OPEN SERVICE PLATFORM</em>

        </div>
    </div>
    <div class="muen">
        <select name="" id="language" class="language">
            <option value="Chinese">中文</option>
            <option value="English">English</option>
        </select>
        <ul class="Chinese">
            <li  <% if(name=='首页'){%>class="list_index_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/">首页 <i class="list_index"></i></a>

            </li>
            <li  <% if(name=='态势分布'){%>class="list_search_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/search">动态感知  <i class="list_search"></i></a>

            </li>
            <li <% if(name=='资产中心'){%>class="list_device_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/assets">资产中心  <i class="list_device"></i></a>

            </li>

            <li <% if(name=='专题应用'){%>class="list_apps_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/apps">应用展示  <i class="list_apps"></i></a>

            </li>
            <li <% if(name=='开发者社区'){%>class="list_develop_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/develop">交流合作  <i class="list_develop"></i></a>

            </li>

        </ul>

        <ul class="English">
            <li  <% if(name=='首页'){%>class="list_index_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/">Home <i class="list_index"></i></a>

            </li>
            <li  <% if(name=='态势分布'){%>class="list_search_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/search">Search  <i class="list_search"></i></a>

            </li>
            <li <% if(name=='资产中心'){%>class="list_device_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/assets">Assets  <i class="list_device"></i></a>

            </li>

            <li <% if(name=='专题应用'){%>class="list_apps_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/apps">Application  <i class="list_apps"></i></a>

            </li>
            <li <% if(name=='开发者社区'){%>class="list_develop_selected list_father" <%}else{%>class="list_father"<%}%>>
                <a  href="/develop">Community  <i class="list_develop"></i></a>

            </li>

        </ul>
    </div>
   <!-- <div class="top_right">
        <div class="top_right_a">
            <ul>
                <li>2017-09-14</li>
                <li>星期四</li>
                <li>17:14</li>
            </ul>
        </div>

    </div>-->
    <!--<script>-->

        <!--$(".menu ul li").hover(function () {-->

        <!--});-->
    <!--</script>-->
</div>


//实现页面中英文切换
<script type="text/javascript">
    $(document).ready(function(){
        if (sessionStorage.getItem('lan')==null) {
            $('.English').css('display','none');
            $('.Chinese').css('display','');
            sessionStorage.setItem('lan', '0');
            $("#language").val('Chinese');
            window.location.reload();//刷新当前页面.
        } else {
            if (sessionStorage.getItem('lan')=='0') {
                $('.English').css('display','none');
                $('.Chinese').css('display','');
                $("#language").val('Chinese');
            } else if (sessionStorage.getItem('lan')=='1') {
                $('.Chinese').css('display','none');
                $('.English').css('display','');
                $("#language").val('English');
            }
        }
        $("#language").change(function() {
            SelectChange();
        });
    });
    function SelectChange(){
        var selectValue = $("#language").val();
        if(selectValue=='Chinese') {
            $('.English').css('display','none');
            $('.Chinese').css('display','');
            sessionStorage.setItem('lan', '0');
        } else if (selectValue=='English') {
            $('.Chinese').css('display','none');
            $('.English').css('display','');
            sessionStorage.setItem('lan', '1');
        }
    }

</script>

