



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="中电科物联网开放平台"/>
    <meta name="description" content="中电科物联网开放平台"/>
    <title>中电科物联网开放平台-专题应用-漏损态势</title>
    <link rel="shortcut icon" href="../../../assets/img/sentilo/favicon.ico">
    <link href="../../../assets/common/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/css/sentilo/index.css" rel="stylesheet" type="text/css"/>
    <!--让IE6、IE7、IE8支持html5和css3开始-->
    <!--[if lt IE 9]>
    <script src="../../../assets/common/js/html5.js" type="text/javascript" language="javascript"></script>
    <script src="../../../assets/common/js/selectivizr.js" type="text/javascript" language="javascript"></script>
    <script src="../../../assets/common/js/PIE.js" type="text/javascript" language="javascript"></script>
    <![endif]-->
    <!--让IE6、IE7、IE8支持html5和css3结束-->
    <!--IE6支持png图片透明开始-->
    <!--[if IE 6]>
    <script src="../../../assets/common/js/DD_belatedPNG.js" mce_src="DD_belatedPNG.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('a, div, ul, img, input, span');
    </script>
    <![endif]-->
    <!--IE6支持png图片透明结束-->
    <script src="../../../assets/common/js/jquery-1.9.1.min.js" type="text/javascript" language="javascript"></script>
    <script src="../../../assets/common/js/echarts.min.js" type="text/javascript" language="javascript"></script>
    <script src="../../../assets/scripts/sentilo/jquery.SuperSlide.2.1.1.js" type="text/javascript" language="javascript"></script>
    <!--jquery-ui开始-->
    <link href="../../../assets/common/jquery-ui/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"/>
    <script src="../../../assets/common/jquery-ui/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript" language="javascript"></script>
    <!--jquery-ui结束-->
    <!--加载数据开始-->
    <script src="../../../assets/scripts/sentilo/mainMapPage.js" type="text/javascript" language="javascript"></script>
    <script src="../../../assets/scripts/sentilo/loadData.js" type="text/javascript" language="javascript"></script>
    <script src="../../../assets/scripts/sentilo/leakageAnalysis.js" type="text/javascript" language="javascript"></script>
    <!--加载数据结束-->

    <!--加载数据加载动画-->
    <link type="text/css" href="../../../assets/css/sentilo/jquery.shCircleLoader.css" rel="stylesheet"/>
    <script type="text/javascript" src="../../../assets/scripts/sentilo/jquery.shCircleLoader-min.js"></script>
    <script type="text/javascript" src="../../../assets/scripts/sentilo/Loading.js"></script>
    <!--加载数据加载动画结束-->

    <!--地图模块开始-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=eamDDEk7gqfPzu0EWYlly7HgaV44YfLA"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/InfoBox/1.2/src/InfoBox_min.js"></script>
    <script type="text/javascript" src="http://developer.baidu.com/map/custom/stylelist.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/MapWrapper/1.2/src/MapWrapper.min.js"></script>
    <script type="text/javascript" src="../../../assets/scripts/gis/mapstyle.js"></script>
    <script type="text/javascript" src="../../../assets/scripts/gis/common/CoordTransfer.js"></script>

    <script type="text/javascript" src="../../../assets/scripts/gis/data/gongshuiquyu.js"></script>
    <script type="text/javascript" src="../../../assets/scripts/gis/data/guanxian.js"></script>
    <script type="text/javascript" src="../../../assets/scripts/gis/data/shuibiao.js"></script>
    <script type="text/javascript" src="../../../assets/scripts/gis/data/gongshuiquyubz.js"></script>
    <!--地图模块结束-->
    <link rel='stylesheet' href='/stylesheets/style.css' />    
</head>
<body>
<!--页面开始-->
<div class="page">

    <% include ../../../common/header %>

    <div class="lsfx">
        <div class="lsfx_left">
            <dl>
                <dt id="lsfx_left_a"><a href="lousuntaishi.html#%23%23%23" title="水网运行监测">水网运行监测</a></dt>
                <dd class="ztyy_click"><a href="lousuntaishi.html" title="漏损态势">漏损态势</a></dd>
                <!-- <dd><a href="shuizhitaishi.html" title="水质态势">水质态势</a></dd> -->
<!--            <dd><a href="/rest/page/sentilo/guanwangyalitaishi" title="管网压力态势">管网压力态势</a></dd>
                <dt><a href="####" title="精准服务">精准服务</a></dt>
                <dd><a href="/rest/page/sentilo/zhuantiyingyong" title="漏损定位">漏损定位</a></dd>
                <dd><a href="/rest/page/sentilo/shuizhiyujing" title="水质预警">水质预警</a></dd>
                <dd><a href="/rest/page/sentilo/shuizhidiaodu" title="水压调度">水压调度</a></dd>
-->
            </dl>
        </div>


        <div class="lsfx_right">
            <div style="position: absolute;left: 245px;bottom: 45px; z-index: 9999"><img src="../../../assets/img/sentilo/map-icons/water-lsts/lsts_legend.png"/></div>
            <div id="map" style="width: 100%;height: 100%;"></div>
        </div>
    </div>


</div>
<!--页面结束-->s
<script src="../../../assets/scripts/gis/maplsts.js" type="text/javascript" language="javascript"></script>
</body>
</html>